p{
	color: #00B4CC;
	font-family: verdana;
	background-color: #008C9E;
	margin: 5px;
	padding: 3px;
}

body{
	background: #343838;
}

h1{
	font-family: courier;
	color: #00DFFC;
	text-align: center;
}

img{
	float: right;
}